{% extends "layout.njk" %}

{% block titlePage %}
    <title>E R R O - 4 0 4</title>
{% endblock %}

{% block content %}

    <main id="page-erro404">
        <h1>ERRO 404</h1>
        <h2>Page not Found</h2>
    </main>

{% endblock %}